.hero {
  display: flex;
  flex-direction: column;
  background-image: url("/assets/hero-image.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 35% 50%;  /* Changed from 20% to 35% */
  filter: var(--hero-image-filter);
  min-height: 80vh;
  justify-content: center;
  align-items: flex-start;
}